<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="1 minutes">

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/sfa-be/log/log-server.log</file>
        <encoder>
            <charset>windows-1251</charset>
            <pattern>%d{"yyyy-MM-dd'T'HH:mm:ss,SSS"} [%level]%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>windows-1251</charset>
            <pattern>%d{"yyyy-MM-dd'T'HH:mm:ss,SSS"} [%level]%msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>